<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Obrigado, pessoal!</h5>
                <button onclick="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Um pouco da minha história como desenvolvedor: tudo começou em 2018, meu pai quem já era da área a anos me incentivou a estudar mais sobre “algorítimos e lógica”, o que foi escalonado para finais de semana vendo sobre VBA, depois bancos de dados relacionais com MSACCESS e Oracle.<br/>Depois de entrar na faculdade em 2020, a toca do coelho era mais pra baixo. C, C++, Java e um estresse com a cadeira de POO, nada mais pra mim fazia sentido, até eu conhecer o C#. Pode parecer uma hipérbole, mas foi a linguagem (e consequentemente Framework) que me fez manter a luz dos estudos e não jogar tudo pro alto.<br/>Aprendi e tomei gosto por Orientação a Objetos, a importância de código limpo, design patterns e troca de experiência com pessoas de outros estados e até países. Todos ligados por uma paixão em comum: desenvolvimento de software. Vai dizer que você que chegou até aqui, depois de uma School puxada (como sempre é) não gosta da jornada?<br/>A recompensa é sempre maneira, mas a jornada de virar umas noites no mais puro café de grilo (como diz o Mano Deyvin) e ver que você criou algo pertinente, saiu de seus dedos, mente e coração é sempre um prazer a mais.
                </p>
            </div>
        </div>
    </div>
</div>