@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro!.</h1>
<h2 class="text-danger">Código inválido de empresa informado ao registrar o novo cliente no sistema.</h2>
<h2 class="text-danger">Por favor, verifique códigos válidos <a asp-controller="Companies" asp-action="Index"></a>aqui</h2>