@model CarteiraClientes.ViewModels.Company.GetCompanyViewModel
<h3 class="text-warning">Editar dados da Empresa</h3>
<hr/>
<div class="row">
    <div class="row-md-4"></div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="CompanyId"/>
        <div class="form-group">
            <label class="text-white fs-4" asp-for="CompanyName">Nome</label>
            <input asp-for="CompanyName" class="form-control w-75"/>
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-white fs-4" asp-for="FoundedDate">Data Fundação</label>
            <input asp-for="FoundedDate" type="date" class="form-control w-75"/>
            <span asp-validation-for="FoundedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="text-white fs-4" asp-for="Revenue">Lucro Anual</label>
            <input asp-for="Revenue" type="number" class="form-control w-75"/>
            <span asp-validation-for="Revenue" class="text-danger"></span>
        </div>
        <h4></h4>
        <div class="form-group">
            <input type="submit" class="btn btn-primary rounded-1 md-1" value="Editar"/>
            <a class="btn btn-secondary rounded-1 md-1" asp-action="Index">Retornar a Lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}